@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --main-padding:0.8rem ;
  --body-clr: white;
  --second-clr: black;
  --third-clr: whitesmoke;
  --circle: 50%;
  --main-font:"Ubuntu", sans-serif;
  --font-size: 1rem;
  --lh-body: 1.6;
  --space-xn:0.2rem;
  --space-xs:0.4rem;
  --space-xss:0.9rem;
  --space-s: 1rem;
  --space-smd:1.2rem;
  --space-md: 2rem;
  --space-lg: 4rem;
  --blur:30px;
  --br-clr1: rgba(255,255,255,0.3);
  --gap-logo: 0.4rem;
  --margin-nav: clamp(0.2rem, 1vw + 0.2rem, 0.4rem);
}

@keyframes loopText {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px);
    opacity: 0;
  }
  51% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes grow {
  0% {
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html,
body {
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: var(--body-clr);
}

main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--main-padding);
  position: relative;
  background-color: var(--body-clr);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header" "section" "smartphone" "first-duo" "infobox";
  z-index: 0;
  row-gap: 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: var(--margin-nav);
  height: 35px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.2rem, 1vw, 1.5rem);
  padding: var(--space-xs);
  background-color: var(--body-clr);
  transform-origin: top;
  border-bottom-right-radius: 20px;
  z-index: 1000;
  opacity: 0;
  animation: grow 1s cubic-bezier(0.7, 0, 0.3, 1) forwards;
  will-change: transform;
}
nav .logo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
}
nav .logo-text img {
  height: 1rem;
  width: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
nav .logo-text span {
  padding: 5px;
  height: auto;
  will-change: transform;
}
nav .logo-text span:hover a {
  animation: loopText 0.4s ease-in-out;
}
nav .logo-text span a {
  text-decoration: none;
  color: var(--second-clr);
  font-size: clamp(0.3rem, 1vw + 0.5rem, 0.8rem);
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.2rem, 1vw, 1.5rem);
}
nav ul li {
  list-style: none;
  padding: 5px;
  height: auto;
  overflow: hidden;
  will-change: transform;
}
nav ul li:hover a {
  animation: loopText 0.4s ease-in-out;
}
nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: var(--second-clr);
  font-size: clamp(0.3rem, 1vw + 0.5rem, 0.8rem);
  font-weight: 600;
}

@media (min-width: 2500px) {
  nav {
    height: clamp(2rem, 4vh, 3rem);
  }
  nav .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  nav .logo-text img {
    height: 1.6rem;
    width: 1.6rem;
  }
  nav .logo-text span {
    padding: 5px;
  }
  nav .logo-text span a {
    font-size: clamp(0.8rem, 1.3vh, 2rem);
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.8rem, 1vw, 1.5rem);
  }
  nav ul li a {
    font-size: clamp(0.3rem, 1.3vh, 2.5rem);
  }
}
header {
  grid-area: header;
  height: 80%;
  width: 100%;
}
header .img {
  height: 46vh;
  width: 100%;
  position: relative;
}
header .hero-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 16px;
  position: relative;
}
header .featured {
  text-transform: capitalize;
  font-weight: 800;
  position: absolute;
  bottom: 0%;
  right: 0%;
  padding: clamp(0.2rem, 1vw + 0.1rem, 0.5rem);
  background-color: var(--body-clr);
  border-top-left-radius: 1rem;
}
header .featured span {
  font-size: clamp(0.7rem, 2vw + 0.4rem, 1.1rem);
}
header .featured::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-bottom-right-radius: 4rem;
  bottom: 0%;
  right: 100%;
  z-index: 2;
  box-shadow: 1px 1.4px 0 0 white;
}
header .featured::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: transparent;
  border-bottom-right-radius: 4rem;
  top: -14%;
  right: 0;
  box-shadow: 1px 1.4px 0 0 white;
}

.Ema {
  grid-area: section;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: 100%;
  position: relative;
}
.Ema .infobox {
  display: none;
}
.Ema .brandbox {
  background-color: var(--third-clr);
  padding: var(--space-md);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 1rem;
  flex-direction: column;
}
.Ema .brandbox p {
  line-height: var(--lh-body);
}
.Ema .brandbox .overview {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
  width: 100%;
}
.Ema .brandbox .overview .ema-img {
  height: 57px;
  width: 57px;
  border-radius: var(--circle);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.Ema .brandbox .overview .sideview h2 {
  font-size: var(--space-smd);
}
.Ema .brandbox .overview .sideview h3 {
  font-size: var(--space-xss);
  opacity: 0.7;
}

.latest {
  grid-area: smartphone;
  height: auto;
  width: 100%;
}
.latest .smartphoneinfo {
  padding: 1.5rem 1.1rem;
  border-radius: 16px;
  background-color: var(--third-clr);
}
.latest .smartphoneinfo .latestwork {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40%;
}
.latest .smartphoneinfo .latestwork .view {
  border-bottom: 1px solid black;
  transition: all 0.4s ease-in-out;
}
.latest .smartphoneinfo .latestwork .view:hover {
  transform: translateY(-2px);
}
.latest .smartphoneinfo .latestwork .downclick {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.latest .smartphoneinfo .latestwork .downclick h3 {
  text-transform: capitalize;
}
.latest .smartphoneinfo .latestwork .downclick i {
  transition: all 0.4s ease-in-out;
}
.latest .smartphoneinfo .latestwork .downclick i:hover {
  transform: scale(1.2);
}

.duo-1 {
  margin-top: 2rem;
  grid-area: first-duo;
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
}
.duo-1 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.duo-1 .container .duo, .duo-1 .container .duo1, .duo-1 .container .duo2, .duo-1 .container .duo3, .duo-1 .container .duo4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.duo-1 .container .product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  flex-direction: column;
  height: 50%;
  width: 100%;
  position: relative;
}
.duo-1 .container .product img {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 1rem;
}
.duo-1 .container .product .solo-info {
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-right-radius: 1rem;
  text-transform: capitalize;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  background-color: var(--body-clr);
}
.duo-1 .container .product .solo-info span {
  font-size: clamp(0.4rem, 2vh, 1.3rem);
  font-weight: 300;
}
.duo-1 .container .product .solo-info span::after {
  content: "";
  height: 10px;
  width: 10px;
  top: 100%;
  left: 0%;
  border-top-left-radius: 0.4rem;
  position: absolute;
  box-shadow: -1px -2px 0 0 white;
  background-color: transparent;
}
.duo-1 .container .product .solo-info span::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 100%;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-top-left-radius: 0.4rem;
  box-shadow: -2px -1.5px 0 0 white;
}

.footer {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "row1" "row2" "row3";
  padding: var(--main-padding);
  background-color: var(--body-clr);
}
.footer .aboutandmore {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-area: row1;
  height: 100%;
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  background-color: var(--second-clr);
  padding: 4rem;
  gap: 2rem;
}
.footer .aboutandmore .first-half {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.footer .aboutandmore .first-half .ema-img {
  height: 57px;
  width: 57px;
  border-radius: var(--circle);
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
}
.footer .aboutandmore .first-half .sideview {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  color: white;
}
.footer .aboutandmore .first-half .sideview h2 {
  font-size: var(--space-smd);
}
.footer .aboutandmore .first-half .sideview h3 {
  font-size: var(--space-xss);
  opacity: 0.7;
}
.footer .aboutandmore .second-half {
  padding: var(--space-xs);
  background-color: var(--body-clr);
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  transition: all 0.4s ease-in-out;
}
.footer .aboutandmore .second-half a {
  display: inline-block;
  text-decoration: none;
  color: var(--second-clr);
}
.footer .aboutandmore .second-half a span {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
}
.footer .aboutandmore .second-half:hover {
  transform: translateY(-3px);
}
.footer .all {
  grid-area: row2;
  height: auto;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  margin-top: -1px;
}
.footer .all .pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer .all .pages h3 {
  font-size: 1rem;
  color: white;
}
.footer .all .pages .f-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.footer .all .pages .f-nav ul li {
  list-style: none;
}
.footer .all .pages .f-nav ul li a {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
}
.footer .all .CMS {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer .all .CMS h3 {
  font-size: 1.1rem;
}
.footer .all .CMS .allcms ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.footer .all .CMS .allcms ul li {
  list-style: none;
}
.footer .all .utility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.footer .all .utility h3 {
  font-size: 1rem;
}
.footer .all .utility .utilities ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.footer .all .utility .utilities ul li {
  list-style: none;
}
.footer .end {
  grid-area: row3;
  height: 100%;
  width: 100%;
  background-color: var(--second-clr);
  margin-top: -1px;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  color: var(--body-clr);
  padding: var(--main-padding);
}
.footer .end h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.footer .end .contacts {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.footer .end .contacts a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.infomobile {
  grid-area: infobox;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  flex-direction: column;
  padding: var(--space-xss);
}
.infomobile .info {
  background-color: var(--third-clr);
  padding: 1.4rem;
  margin-right: 2px;
  height: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.1rem;
}
.infomobile .info h3 {
  font-size: clamp(0.2rem, 2vh + 0.2rem, 1.1rem);
}
.infomobile .info i {
  display: inline-block;
  font-size: clamp(0.2rem, 2vh + 0.1rem, 1.1rem);
  transition: transform 0.4s ease-in-out;
  pointer-events: none;
}
.infomobile .info:hover i {
  transform: scale(1.2);
}
.infomobile .info:nth-last-child(1) {
  background-color: var(--second-clr);
  color: white;
}

@media (max-width: 395px) {
  .latest .smartphoneinfo .latestwork {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
  }
  .latest .smartphoneinfo .latestwork .downclick {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  .latest .smartphoneinfo .latestwork .downclick h3 {
    font-size: clamp(0.8rem, 3vw + 0.3rem, 1.2rem);
  }
  .latest .smartphoneinfo .latestwork .downclick i {
    font-size: 1rem;
  }
  .latest .smartphoneinfo .latestwork .view {
    font-size: clamp(0.8rem, 3vw + 0.3rem, 1.2rem);
  }
}
@media (min-width: 768px) {
  header {
    height: 100%;
  }
  header .img {
    height: 65vh;
  }
  header .hero-image {
    border-radius: 1.5rem;
  }
  .Ema .upleftrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  .Ema .upleftrow .brandbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    width: 50%;
    height: 100%;
  }
  .Ema .upleftrow .brandbox p {
    line-height: 1.8;
  }
  .Ema .upleftrow .infobox {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
    flex: 1;
    flex-direction: column;
  }
  .Ema .upleftrow .infobox .info {
    background-color: var(--third-clr);
    padding: 1.4rem;
    margin-right: 2px;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.1rem;
  }
  .Ema .upleftrow .infobox .info h3 {
    font-size: clamp(0.2rem, 2vh + 0.2rem, 1.1rem);
  }
  .Ema .upleftrow .infobox .info i {
    display: inline-block;
    font-size: clamp(0.2rem, 2vh + 0.1rem, 1.1rem);
    transition: transform 0.4s ease-in-out;
    pointer-events: none;
  }
  .Ema .upleftrow .infobox .info:hover i {
    transform: scale(1.2);
  }
  .Ema .upleftrow .infobox .info:nth-last-child(1) {
    background-color: var(--second-clr);
    color: white;
  }
  .latest .smartphoneinfo .latestwork {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60%;
  }
  .infomobile {
    display: none;
  }
  .duo-1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .duo-1 .container .duo, .duo-1 .container .duo1, .duo-1 .container .duo2, .duo-1 .container .duo3, .duo-1 .container .duo4 {
    flex-direction: row;
  }
  .duo-1 .container .product img {
    height: 45vh;
  }
  .footer {
    grid-area: footer;
  }
  .footer .aboutandmore {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer .aboutandmore .first-half {
    width: 50%;
    flex-direction: row;
    margin-right: 2rem;
    justify-content: flex-start;
  }
  .footer .aboutandmore .first-half .ema-img {
    height: 65px;
    width: 65px;
    border-radius: var(--circle);
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
  .footer .all {
    flex-direction: row;
    padding: var(--space-md);
  }
  .footer .end {
    padding: 3rem;
  }
  .footer .end h3 {
    font-size: 1.5rem;
  }
  .footer .end .contacts {
    margin-top: 1.4rem;
  }
  .footer .end .contacts a {
    font-size: 1.5rem;
  }
}
@media (min-width: 490px) {
  .duo-1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .duo-1 .container .duo, .duo-1 .container .duo1, .duo-1 .container .duo2, .duo-1 .container .duo3, .duo-1 .container .duo4 {
    flex-direction: row;
  }
  .duo-1 .container .product img {
    height: 45vh;
  }
}
@media (min-width: 1200px) {
  main {
    height: 100vh;
    width: 100%;
    padding: 12px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header section" "header smartphone" "header slider" "footer footer";
    overflow-y: scroll;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  main header {
    grid-area: header;
    position: sticky;
    top: 0%;
    height: 100vh;
    width: 100%;
  }
  main header .img {
    height: 100%;
    width: 100%;
    position: relative;
  }
  main header .img .hero-image {
    height: 97vh;
    width: 100%;
  }
  main header .featured {
    margin-bottom: 1rem;
  }
  main .Ema {
    height: 48vh;
  }
  main .Ema .upleftrow {
    grid-area: section;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  main .Ema .upleftrow .brandbox {
    flex: 1;
    height: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
  }
  main .Ema .upleftrow .infobox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: column;
    height: 100%;
    width: 40%;
    border-radius: 1rem;
    color: black;
    gap: 0.7rem;
  }
  main .Ema .upleftrow .infobox .info {
    background-color: var(--third-clr);
    padding: 1rem;
    margin-right: 2px;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1.1rem;
  }
  main .Ema .upleftrow .infobox .info h3 {
    font-size: clamp(0.2rem, 2vw + 0.1rem, 1.1rem);
  }
  main .Ema .upleftrow .infobox .info i {
    display: inline-block;
    font-size: clamp(0.2rem, 2vw + 0.1rem, 1.1rem);
    transition: transform 0.4s ease-in-out;
    pointer-events: none;
  }
  main .Ema .upleftrow .infobox .info:hover i {
    transform: scale(1.2);
  }
  main .Ema .upleftrow .infobox .info:nth-last-child(1) {
    background-color: var(--second-clr);
    color: white;
  }
  main .latest {
    margin-top: 0.8rem;
    grid-area: smartphone;
    height: 100%;
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--third-clr);
  }
  main .latest .smartphoneinfo {
    height: 100%;
    width: 100%;
    padding: var(--space-xn);
  }
  main .latest .smartphoneinfo .latestwork {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60%;
  }
  main .latest .smartphoneinfo .latestwork .downclick {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .infomobile {
    display: none;
  }
  .duo-1 {
    grid-area: slider;
    height: 100%;
    width: 100%;
    padding: var(--main-padding);
  }
  .duo-1 .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .duo-1 .container .duo, .duo-1 .container .duo1, .duo-1 .container .duo2, .duo-1 .container .duo3, .duo-1 .container .duo4 {
    flex-direction: row;
  }
  .footer {
    grid-area: footer;
  }
  .footer .aboutandmore {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .footer .aboutandmore .first-half {
    width: 50%;
    flex-direction: row;
    margin-right: 2rem;
    justify-content: flex-start;
  }
  .footer .aboutandmore .first-half .ema-img {
    height: 65px;
    width: 65px;
    border-radius: var(--circle);
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
  }
  .footer .all {
    flex-direction: row;
  }
  .footer .end {
    padding: 3rem;
  }
  .footer .end h3 {
    font-size: 1.5rem;
  }
  .footer .end .contacts {
    margin-top: 1.4rem;
  }
  .footer .end .contacts a {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */