main {
    min-height: 100vh;
    height: auto;
    width: 100%;
    // max-width: 1200px;
    // margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--main-padding);
    position: relative;
    background-color: var(--body-clr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,auto);
    grid-template-areas:
        "header"
        "section"
        "smartphone"
        "first-duo"
        "infobox";
    z-index: 0;
    row-gap: 1rem;
}