//Base
@import 'utils/fonts';
@import 'utils/root';

//Utils
@import 'utils/keyframes';
@import 'utils/mixins';

//base layouts
@import 'layouts/body';
@import 'layouts/main';


//page sections in order
@import 'sections/hero';
@import 'sections/ema.scss';
@import 'sections/latest';
@import 'sections/slider';

//footer layout
@import 'layouts/footer';

//responsives
@import 'responsive/infoboxmobile';
@import 'responsive/desktop';