.footer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "row1";
    padding: var(--main-padding);
    background-color: var(--body-clr);

    .aboutandmore{
        display: flex;
        align-items:  center;
        justify-content: center;
        flex-direction: column;
        grid-area: row1;
        height: 100%;
        width: 100%;
        border-radius: 1rem;
        background-color: var(--second-clr);
        padding: 4rem;
        gap: 2rem;

        .first-half{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

           .ema-img{
                 @include ema-img(57px,57px,var(--circle));
           }
           .sideview{
                   @include flex-gap(5px);
                   flex-direction: column;
                   color: white;
                  h2 {
                        font-size: var(--space-smd);
                    }

                    h3 {
                        font-size: var(--space-xss);
                        opacity: 0.7;
                    }
           }
        }

    .second-half{
             @include back-white;
             padding: 0.5rem 0.7rem;
             border-radius: 0.5rem;
             text-transform: capitalize;
             transition: all 0.4s ease-in-out;
             
             a{
                display: inline-block;
                text-decoration: none;
                color: var(--second-clr);
                
                span{
                    display: inline-block;
                    font-size: 1rem;
                    font-weight: 400;
                }
                
             }
             &:hover{
                transform: translateY(-3px);
                
             }
    }

    }
    
}