//Base
@use 'utils/fonts';
@use 'utils/root';

//Utils
@use 'utils/keyframes';
@use 'utils/mixins';

//base layouts
@use 'layouts/body';
@use 'layouts/main';


//page sections in order
// @import 'universal/navbar';
@use 'universal/navbar';
@use 'sections/hero';
@use 'sections/ema';
@use 'sections/latest';
@use 'sections/slider';

//footer layout
@use 'layouts/footer';

//responsives
@use 'responsive/infoboxmobile';
@use 'responsive/smallsp';
@use 'responsive/tablets';
@use 'responsive/desktop';
//page 2 work 
@use 'pages/worksections/mainw';
@use 'pages/worksections/herow';
@use 'pages/worksections/journal';
@use 'pages/worksections/scroll';
