@use '../../utils/util' as *;
.work-header {
   grid-area: header;
   height: 70%;
   width: 100%;
    .container {
         height: 46vh;
         width: 100%;
         position: relative;
    }   
    .main-image {
         height: 100%;
         width: 100%;
         object-fit: cover;
         object-position: top;
         border-radius: 16px;
         position: relative;
     }
    .text-edit{ 
        position: absolute;
        bottom: 4%;
        width: 100%;
        border-radius: 0.8rem;
        height: auto;
        padding: 0rem 1rem;
        .paragraph{
            background-color: white;
            padding: 1rem;
            border-radius: 1rem;

            p{
                font-size: clamp(1rem, 2vw + 0.3rem, 1.5rem);
                text-transform: capitalize;
                font-weight: 300;
                line-height: 1.4;
                
            }
            
        }
    }

}