@use '../../utils/util' as *;
.left-preview{
    display: none;
}
@media(min-width:1024px){
    .left-preview{
      height: calc(100vh - var(--main-padding)*2);
        max-height: 100vh;
        position: sticky;
        top: 0%;
        left: 0;
        grid-area: leftpreview;
        width: 100%;
        display: block;
        border-radius: 1rem;
        overflow: hidden;
        #main-preview-img{
            z-index: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
            border-radius: 1rem;
        }
        h3{
            z-index: 1;
            position: absolute;
            bottom: 0%;
            right: 0%;
            border-top-left-radius: 1rem;
            background-color: var(--body-clr);
               padding: clamp(0.2rem, 1vw + 0.1rem, 0.5rem);
            font-size: clamp(0.7rem, 2vw + 0.4rem, 1.1rem);
            
        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 5px;
            background-color: transparent;
            border-bottom-right-radius: 4rem;
            bottom: 0%;
            right: 100%;
            box-shadow: 1px 1.4px 0 0 var(--body-clr);
        }
          &::after {
            content: '';
            position: absolute;
            height: 3px;
            width: 3px;
            background-color: transparent;
            border-bottom-right-radius: 0.8rem;
            top: -8%;
            right: -1%;
            // transform: rotate(-15deg);
            box-shadow: 1px 1px 0 0 var(--body-clr);
        }
        }

    }
}