@use '../../utils/util' as *;
.scroll{
    grid-area: scroll;
    height: auto;
    width: 100%;
    .container-scroll{
       height: 100%;
       width: 100%;
       @include flex-gap(1rem);
       flex-direction: column;
       flex-wrap: wrap;
         
       .slider{
         @include flex-gap(1rem);
         flex-direction: column;
         height: auto;
         width: 100%;
         .infoandpic{
            position: relative;
            @include flex-gap;
            flex-direction: column;
            width: 100%;
            height: 100%;
            img{
                height: 60vh;
                width: 100%;
                object-fit: cover;
                object-position: top;
                border-radius: 1rem;
            }
            .inside-info{
                height: auto;
                position: absolute;
                bottom: 4%;
                width: 100%;
                border-radius: 0.5rem;
                padding: 0rem 1rem;

                p{
                     font-size: clamp(0.8rem, 2vw + 0.3rem, 1rem);
                     text-transform: capitalize;
                     font-weight: 400;
                     line-height: 1.4;
                     background-color:white;
                     border-radius: 0.8rem;
                     padding: 1rem;
                }

            }
         }
       }
    }
}