@use '../../utils/util' as *;

.work-grid {
    grid-area: workgrid;
    height: auto;
    width: 100%;

    .project-list {
        height: 100%;
        width: 100%;
        @include flex-gap(0.5rem);
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;

           .contact-box {
                height: auto;
                width: 100%;
                background-color: var(--contact-clr);

                border-radius: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.7rem;
                color: var(--body-clr);

                h3 {
                    position: relative;
                    z-index: 0;
                    border-radius: none;
                    font-size: clamp(0.4rem, 2vh, 2rem);
                    font-weight: 300;

                    text-transform: capitalize;
                    padding: 0px;
                    background-color: transparent;

                }

                .arwcnt {
                    position: relative;
                    overflow: hidden;
                    height: 2rem;
                    width: 2rem;
                    padding: 0.2rem 0rem;
                      i {
                        display: inline-block;
                        position: absolute;
                        font-size: clamp(0.4rem, 2.5vw + 0.4rem, 1rem);
                        pointer-events: none;
                        transition: all 0.3s ease-in-out;
                    }

                     .cnt {
                        transform: translateY(6px);
                    }

                    .arw {
                        display: inline-block;
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    
                    

                }
                &:hover .cnt {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    &:hover .arw {
                        transform: translateY(6px);
                        opacity: 1;
                    }

            }

        .card-text {
            position: relative;
            height: 60vh;
            width: 100%;
            border-radius: 1rem;


            i {
                display: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
                z-index: 0;
                border-radius: 1rem;
            }

            h3 {
                z-index: 2;
                position: absolute;
                top: 0%;
                left: 0%;
                border-bottom-right-radius: 1rem;
                font-size: clamp(0.4rem, 1.5vh, 1.3rem);
                font-weight: 400;
                color: var(--text-clr);
                @include back-white-product;

                &::after {
                    content: '';
                    height: 30px;
                    width: 30px;
                    top: 100%;
                    left: 0%;
                    border-top-left-radius: 1.2rem;
                    position: absolute;
                    box-shadow: -6px -5px 0 0 var(--body-clr);
                    background-color: transparent;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0%;
                    left: 99.8%;
                    height: 10px;
                    width: 15px;
                    background-color: transparent;
                    border-top-left-radius: 0.6rem;
                    box-shadow: -5px -2px 0 0 var(--body-clr);

                }
            }

            span {
                display: none;
            }

        }
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .work-grid {
        .project-list {
            flex-direction: row;
            flex-wrap: wrap;

            .card-text {
                height: 100vh;

            }
               .contact-box {
                height: auto;
                width: 100%;
                background-color: var(--contact-clr);

                border-radius: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.7rem;
                color: var(--body-clr);

                h3 {
                    position: relative;
                    z-index: 0;
                    border-radius: none;
                    font-size: clamp(0.4rem, 2vh, 2rem);
                    font-weight: 300;

                    text-transform: capitalize;
                    padding: 0px;
                    background-color: transparent;

                }

                .arwcnt {
                    position: relative;
                    overflow: hidden;
                    height: 2rem;
                    width: 2rem;
                    padding: 0.2rem 0rem;
                      i {
                        display: inline-block;
                        position: absolute;
                        font-size: clamp(0.2rem, 1.5vw + 0.1rem, 1rem);
                        pointer-events: none;
                        transition: all 0.3s ease-in-out;
                    }

                     .cnt {
                        transform: translateY(6px);
                    }

                    .arw {
                        display: inline-block;
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    
                    

                }
                &:hover .cnt {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    &:hover .arw {
                        transform: translateY(6px);
                        opacity: 1;
                    }

            }
        }
    }
}

@media (min-width:1024px) {
    .work-grid {
        padding-top: 0.5rem;

        .project-list {
            gap: 0.8rem;

            .card-text {
                height: auto;
                width: 100%;
                background-color: var(--third-clr);
                border-radius: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                will-change: margin, visibility;
                padding: 0.7rem;
                transition: opacity 0.4s ease;

                &:hover{
                    opacity: 0.5;
                }
                img {
                    display: none;
                }

                i {
                    display: inline-block;
                    visibility: hidden;
                    transition: all 0.5s ease-in-out;

                }

                &:hover i {
                    visibility: visible;
                    margin: 0rem 1rem;
                }

                span {
                    position: relative;
                    z-index: 0;
                    display: inline-block;
                    transition: all 0.5s ease-in-out;
                    font-size: clamp(0.4rem, 2vh, 2rem);
                    font-weight: 300;
                }

                h3 {

                    position: relative;
                    z-index: 0;
                    border-radius: none;
                    font-size: clamp(0.4rem, 2vh, 2rem);
                    font-weight: 300;
                    color: var(--text-clr);
                    text-transform: capitalize;
                    padding: 0px;
                    background-color: transparent;


                    &::after {
                        display: none;
                    }

                    &::before {
                        display: none;
                    }
                }

            }

            .contact-box {
                height: auto;
                width: 100%;
                background-color: var(--contact-clr);

                border-radius: 0.7rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0.7rem;
                color: var(--body-clr);

                h3 {
                    position: relative;
                    z-index: 0;
                    border-radius: none;
                    font-size: clamp(0.4rem, 2vh, 2rem);
                    font-weight: 300;

                    text-transform: capitalize;
                    padding: 0px;
                    background-color: transparent;

                }

                .arwcnt {
                    position: relative;
                    overflow: hidden;
                    height: 2rem;
                    width: 2rem;
                    padding: 0.2rem 0rem;
                      i {
                        display: inline-block;
                        position: absolute;
                        font-size: clamp(0.2rem, 1.5vw + 0.1rem, 1rem);
                        pointer-events: none;
                        transition: all 0.3s ease-in-out;
                    }

                     .cnt {
                        transform: translateY(6px);
                    }

                    .arw {
                        display: inline-block;
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    
                    

                }
                &:hover .cnt {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    &:hover .arw {
                        transform: translateY(6px);
                        opacity: 1;
                    }

            }
        }
    }
}