@use '../../utils/util' as *;
.work-main{
    min-height: 100vh;
    height: auto;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--main-padding);
    position: relative;
    background-color: var(--body-clr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,max-content);
    grid-template-areas:
        "header"
        "leftpreview"
        "workgrid"
        "footer";
    z-index: 0;
    row-gap: 0.5rem;
};
@media (min-width:1024px){
    .work-main{
       height: 100vh;
       padding: var(--main-padding);
       grid-template-columns: 1fr 1fr;
       grid-template-rows: repeat(2,max-content);
       grid-template-areas: 
       "leftpreview header "
       "leftpreview workgrid"
       "leftpreview footer";
    };

}