.infomobile{   
    grid-area: infobox;
    @include flex-gap(1rem);
    margin-top: 2rem;
    flex-direction: column;
    padding: var(--space-xss);
            .info{
                background-color: var(--third-clr);
                padding: 1.4rem;
                margin-right: 2px;
                height: 60%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 1.1rem;
   
                   h3{
                     font-size: clamp(0.2rem, 2vh + 0.2rem, 1.1rem);
                        }
                    i{   
                       display: inline-block;
                       font-size: clamp(0.2rem, 2vh + 0.1rem, 1.1rem);
                       transition: transform 0.4s ease-in-out;
                       pointer-events: none;
                           }
                     
                    &:hover i{
                        transform: scale(1.2);
                    }
                    &:nth-last-child(1){
                        background-color: var(--second-clr);
                        color: white;
                    }
                   }
                }
