// mid and large tablets
@use '../utils/util' as *;
@media (min-width:768px){
     header{
        height: 100%;

        .img{
            height: 65vh;
        }
        .hero-image{
            border-radius: 1.5rem;
        }
     }
    .Ema{
        
        .upleftrow{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;

            .brandbox{
                @include flex-gap(20%);
                width: 50%;
                height: 100%;
                p{
                    line-height: 1.8;
                }

            }
            .infobox{
                height: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 0.8rem;
                flex: 1;
                flex-direction: column;
                // padding: var(--space-xss);
              

            .info{
                background-color: var(--third-clr);
                padding: 1.4rem;
                margin-right: 2px;
                height: 60%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 1.1rem;
   
                   h3{
                     font-size: clamp(0.2rem, 2vh + 0.2rem, 1.1rem);
                        }
                    i{   
                       display: inline-block;
                       font-size: clamp(0.2rem, 2vh + 0.1rem, 1.1rem);
                       transition: transform 0.4s ease-in-out;
                       pointer-events: none;
                           }
                     
                    &:hover i{
                        transform: scale(1.2);
                    }
                    &:nth-last-child(1){
                        background-color: var(--second-clr);
                        color: white;
                    }
                   }
                }
        }


       }
        .latest{
            .smartphoneinfo{
               
                .latestwork{
                    @include flex-gap(60%);
                }
            }
        }
        .infomobile{
            display: none;

        }
        .duo-1{

            .container{
            @include flex-gap(2rem);
            height: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            .duo,.duo1,.duo2,.duo3,.duo4{
                flex-direction: row;
            }
            .product{
                img{
                    height: 45vh;

                }
            }

        }

        }
        .footer{
        grid-area: footer;
        
        .aboutandmore{
            flex-direction: row;
            justify-content: space-evenly;
            
            .first-half{
                width: 50%;
                flex-direction: row;
                margin-right: 2rem;
                justify-content: flex-start;
                     
                .ema-img{
                    @include ema-img(65px,65px,var(--circle));
                }

            }
        }
        .all{
            flex-direction: row;
            padding: var(--space-md);


        }
        .end{
            padding: 3rem;

            h3{
                font-size: 1.5rem;
                
            }
            .contacts{
                margin-top: 1.4rem;
                
                a{
                    font-size: 1.5rem;
                }
            }
        }
    }
        }

//page blog
@media (min-width:768px) and (min-height:1000px){
    .work-header{
        height: 65vh;
        overflow: visible;
        .container{
            height: 100%;
        }
        .text-edit{
            padding: 0rem 0.5rem;
            .paragraph{
                height: auto;
                width: auto;
                padding: 1.5rem;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.6rem;
                span{
                display: inline-block;
                transform: translateY(-5px);
                border-radius: 4px;
                background-color: var(--second-clr);
                color:var(--body-clr);
                padding: 0rem 0.3rem;
                font-size: 1.8vh;
                }
                a{
                    display: inline-block;
                    margin-left: 1.5rem;
                    font-weight: 400;
                    text-decoration: none;
                    font-size: medium;
                    color: var(--second-clr);
                    border-bottom: 1px solid black;
                    transition: transform 0.5s ease-in-out;

               &:hover{
                  transform: translateY(-3px);
               }

                }

            }

        }
    }
    .journal{
        .three-columns{
            gap: 6rem;
        }
    }
    .scroll{
        .container-scroll{
            flex-direction: row;
            flex-wrap: wrap;
            .slider{
                flex-direction: row;
                .infoandpic{
                    transition: transform 0.4s ease-in-out;
                    img{
                        height: 40vh;
                    }
                }
            }
        }
    }
}

    //small tablets
@media (min-width:490px){
      .duo-1{

            .container{
            @include flex-gap(2rem);
            height: 100%;
            flex-wrap: wrap;
            flex-direction: row;
            .duo,.duo1,.duo2,.duo3,.duo4{
                flex-direction: row;
            }
            .product{
                img{
                    height: 45vh;

                }
            }

        }

        }
}
//for blog page
@media (min-width:490px){
    .work-header{
        height: 80vh;
        width: 100%;
        .container{
            height: 100%;
            width: 100%;
        }

    }
    .journal{
        height: 45vh;

    }
    .scroll{
        .container-scroll{
            flex-direction: row;
            .slider{
                flex-direction: row;
                .infoandpic{
                    img{
                        height: 45vh;

                    }
                    .inside-info{
                        padding: 0rem 0.5rem;
    

                        p{
                            font-size:small;
                        }
                    }
                }

            }
        }
    }
}