@use '../utils/util' as *;

.latest {

    grid-area: smartphone;
    height: auto;
    width: 100%;

    .smartphoneinfo {
        padding: 1.5rem 1.1rem;
        border-radius: 16px;
        background-color: var(--third-clr);
        color: var(--text-clr);

        .latestwork {
            @include flex-gap(40%);

            .view {
                position: relative;
                transition: all 0.4s ease-in-out;

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 2px;
                    width: 100%;
                    background-color: var(--text-clr);
                    transition: all 0.4s ease-in-out;
                }

                &:hover::after {
                    width: 25%;
                }
            }

            .downclick {
                @include flex-gap(9px);

                h3 {
                    text-transform: capitalize;
                }

                i {
                    transition: all 0.4s ease-in-out;

                    // &:hover {
                    //     transform: scale(1.2);
                    // }
                }
            }
        }
    }
}

//small phones
@media (max-width:395px) {
    .latest {

        .smartphoneinfo {

            .latestwork {
                @include flex-gap(30%);

                .downclick {
                    @include flex-gap(6px);

                    h3 {
                        font-size: clamp(0.8rem, 3vw + 0.3rem, 1.2rem);
                    }

                    i {
                        font-size: 1rem;
                    }
                }

                .view {
                    font-size: clamp(0.8rem, 3vw + 0.3rem, 1.2rem);


                }

            }
        }
    }
}

//tablets
@media (min-width:768px) {
    .latest {
        .smartphoneinfo {

            .latestwork {
                @include flex-gap(60%);
            }
        }
    }
}

//desktop
@media (min-width:1200px) {
    .latest {
        margin-top: -0.3rem;
        grid-area: smartphone;
        height: 100%;
        border-radius: 1rem;
        padding: 1rem;
        background-color: var(--third-clr);

        .smartphoneinfo {
            height: 100%;
            width: 100%;
            padding: var(--space-xn);

            .latestwork {
                height: 100%;
                width: 100%;
                @include flex-gap(67%);

                .downclick {
                    @include flex-gap(8px);

                    h3 {
                        font-size: clamp(0.8rem, 2vw, 1rem);
                    }

                    i {
                        font-size: clamp(0.8rem, 2vw, 1rem);
                    }

                }

                .view {
                    font-size: clamp(0.8rem, 1.5vw, 1rem);
                    cursor: pointer;
                }
            }
        }

    }

}