@use '../utils/util' as *;
main {
    min-height: 100vh;
    height: auto;
    width: 100%;
    // max-width: 1200px;
    // margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar{
        height: auto;
    }
    &::-webkit-scrollbar-track{
        background: var(--third-clr);

    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--thumb-clr);
        border-radius: 100px;
        border: 3px solid var(--third-clr);
        &:hover {
        background: var(--thumb-hover); 
    }
    }
    
    padding: var(--main-padding);
    position: relative;
    background-color: var(--body-clr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,auto);
    grid-template-areas:
        "header"
        "section"
        "smartphone"
        "first-duo"
        "infobox"
        "footer";
    z-index: 0;
    row-gap: 1rem;
}
@media(max-width:768px){
    main{
         &::-webkit-scrollbar{
        display: none;
    }
    }
}
@media (min-width:1200px){
     main{
     height: 100vh;
     width: 100%;
     padding: 12px;
     overflow: hidden;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: max-content max-content max-content max-content max-content;
     grid-template-areas: "header section"
     "header smartphone"
     "header slider"
     "header infobox"
     "header footer";
     overflow-y: scroll;
     z-index: 1;
     column-gap: 0.5rem;}
}