   @keyframes loopText {
            0% {
                transform: translateY(0);
                opacity: 1;
            }
            50% {
                transform: translateY(-20px);
                opacity: 0;
            }
            51% {
                transform: translateY(20px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    @keyframes grow {
                    0%{
                        transform: scaleY(0);
                        opacity: 1;
                    }
                    100%{
                        transform: scaleY(1);
                        opacity: 1;
                    }
                }