   @keyframes loopText {
            0% {
                transform: translateY(0);
                opacity: 1;
            }
            50% {
                transform: translateY(-40px);
                opacity: 0;
            }
            51% {
                transform: translateY(40px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }