header {
    grid-area: header;
    height: 80%;
    width: 100%;
    
    .img {
        height: 46vh;
        width: 100%;
        position: relative;
        
    }
    .hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 16px;
        position: relative;
        
    }
            .featured {
                text-transform: capitalize;
                font-weight: 800;
                position: absolute;
                bottom: 0%;
                right: 0%;
                padding: clamp(0.2rem, 1vw + 0.1rem, 0.5rem);
                background-color: var(--body-clr);
                border-top-left-radius: 1rem;

                span {
                    font-size: clamp(0.7rem, 2vw + 0.4rem, 1.1rem);
                }
                &::before{
                    content: '';
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    background-color: transparent;
                    border-bottom-right-radius: 4rem;
                    bottom: 0%;
                    right: 100%;
                    z-index: 2;
                    box-shadow: 1px 1.4px 0 0 white;
                }
                &::after{
                    content: '';
                    position: absolute;
                    height: 5px;
                    width: 5px;
                    background-color: transparent;
                    border-bottom-right-radius: 4rem;
                    top: -14%;
                    right: 0;
                    box-shadow: 1px 1.4px 0 0 white;

                    
                }
            }
        }
    