.latest {
        grid-area: smartphone;
        height: auto;
        width: 100%;
        
        .smartphoneinfo {
            padding: 1.5rem 1.1rem;
            border-radius: 16px;
            background-color: var(--third-clr);

            .latestwork {
                @include flex-gap(40%);

                .view {
                    border-bottom: 1px solid black;
                    transition: all 0.4s ease-in-out;

                    &:hover {
                        transform: translateY(-2px);
                    }
                }

                .downclick {
                    @include flex-gap(9px);

                    h3 {
                        text-transform: capitalize;
                    }

                    i {
                        transition: all 0.4s ease-in-out;

                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }