@use '../utils/util' as *;
.duo-1{
    margin-top: 2rem;
    grid-area: first-duo;
    min-height: 100vh;
    height: auto;
    width: 100%;
    @include flex-gap;
    width: 100%;
    .container{
        @include flex-gap(2rem);
        flex-direction: column;
        height: 100%;
        width: 100%;
         .duo{
             @include flex-gap(1rem);
             flex-direction: column;
         }
        .product{
            @include flex-gap;
            flex-direction: column;
            height: 50%;
            width: 100%;
            position: relative;

            img{
                height: 60vh;
                width: 100%;
                object-fit: cover;
                object-position: top;
                border-radius: 1rem;
            }
            .solo-info{
              z-index: 2;
              position: absolute;
              top: 0%;
              left: 0%;
              border-bottom-right-radius: 1rem;
              @include back-white-product;

              span{
                font-size: clamp(0.4rem, 1.5vh, 1.3rem);
                font-weight: 400;
                color: var(--text-clr);
                &::after{
                    content: '';
                    height: 30px;
                    width: 30px;
                    top: 100%;
                    left: 0%;
                    border-top-left-radius: 1.2rem;
                    position: absolute;
                    box-shadow: -6px -5px 0 0 var(--body-clr);
                    background-color: transparent;
                }
               &::before{
                content: '';
                position: absolute;
                top: 0%;
                left: 100%;
                height: 20px;
                width: 20px;
                background-color: transparent;
                border-top-left-radius: 0.8rem ;
                box-shadow: -7px -5px 0 0 var(--body-clr);
               }
              }
            }
        }
    }
}