header {
    grid-area: header;
    height: 80%;
    width: 100%;
    
    .img {
        height: 46vh;
        width: 100%;
        position: relative;
        
    }
    .hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 16px;
        position: relative;
        
    }
            .featured {
                text-transform: capitalize;
                font-weight: 800;
                position: absolute;
                bottom: 0%;
                right: 0%;
                padding: clamp(0.2rem, 1vw + 0.1rem, 0.5rem);
                background-color: var(--body-clr);
                border-top-left-radius: 8px;

                span {
                    font-size: clamp(0.7rem, 2vw + 0.4rem, 1rem);
                }
            }
        }
    