.duo-1{
    margin-top: 2rem;
    grid-area: first-duo;
    min-height: 100vh;
    height: auto;
    width: 100%;
    @include flex-gap;
    width: 100%;
    .container{
        @include flex-gap(1rem);
        flex-direction: column;
        height: 100%;
        width: 100%;
         .duo,.duo1,.duo2,.duo3,.duo4{
             @include flex-gap(1rem);
             flex-direction: column;
         }
        .product{
            @include flex-gap;
            flex-direction: column;
            height: 50%;
            width: 100%;
            position: relative;

            img{
                height: 60vh;
                width: 100%;
                object-fit: cover;
                object-position: top;
                border-radius: 1rem;
            }
            .solo-info{
              position: absolute;
              top: 0%;
              left: 0%;
              border-bottom-right-radius: 1rem;
              @include back-white-product;

              span{
                font-size: clamp(0.4rem, 2vh, 1.3rem);
                font-weight: 300;
                &::after{
                    content: '';
                    height: 10px;
                    width: 10px;
                    top: 100%;
                    left: 0%;
                    border-top-left-radius: 0.4rem;
                    position: absolute;
                    box-shadow: -1px -2px 0 0 white;
                    background-color: transparent;
                }
               &::before{
                content: '';
                position: absolute;
                top: 0%;
                left: 100%;
                height: 10px;
                width: 10px;
                background-color: transparent;
                border-top-left-radius: 0.4rem ;
                box-shadow: -2px -1.5px 0 0 white;
               }
              }
            }
        }
    }
}