@use '../../utils/util' as *;
.aboutMain{
    min-height: 100vh;
    height: auto;
    width: 100%;
  
    &::-webkit-scrollbar{
        height: auto;
    }
    &::-webkit-scrollbar-track{
        background: var(--third-clr);

    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--thumb-clr);
        border-radius: 100px;
        border: 3px solid var(--third-clr);
        &:hover {
        background: var(--thumb-hover); 
    }
    }
    
    padding: var(--main-padding);
    position: relative;
    background-color: var(--body-clr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,max-content);
    grid-template-areas:
        "header"
        "ema"
        "about"
        "clients"
        "exhibitions"
        "awards"
        "infobox"
        "footer";
    z-index: 0;
    row-gap: 1.3rem;
}
@media (min-width: 1200px){
    .aboutMain{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7,max-content);
      
        grid-template-areas: 
        "header ema"
        "header about"
        "header clients"
        "header exhibitions"
        "header awards"
        "header infobox"
        "header footer";
    }
}