* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html,
body {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: var(--body-clr);
}