@use '../utils/util' as *;
.footer{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "row1"
                         "row2"
                         "row3";
    padding: var(--main-padding);
    background-color: var(--body-clr);

    .aboutandmore{
        display: flex;
        align-items:  center;
        justify-content: center;
        flex-direction: column;
        grid-area: row1;
        height: 100%;
        width: 100%;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        background-color: var(--second-clr);
        padding: 4rem;
        gap: 2rem;

        .first-half{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;

           .ema-img{
                 @include ema-img(57px,57px,var(--circle));
           }
           .sideview{
                   @include flex-gap(5px);
                   flex-direction: column;
                   color: white;
                  h2 {
                        font-size: var(--space-smd);
                    }

                    h3 {
                        font-size: var(--space-xss);
                        opacity: 0.7;
                    }
           }
        }

    .second-half{
             @include back-white;
             padding: 0.5rem 0.7rem;
             border-radius: 0.5rem;
             text-transform: capitalize;
             transition: all 0.4s ease-in-out;
             
             a{
                display: inline-block;
                text-decoration: none;
                color: var(--second-clr);
                
                span{
                    display: inline-block;
                    font-size: 1rem;
                    font-weight: 400;
                }
                
             }
             &:hover{
                transform: translateY(-3px);
                
             }
    }

    }
    .all{
        grid-area: row2;
        height: auto;
        width: 100%;
        color: white;
        background-color: black;
        @include flex-gap(2rem);
        flex-direction: column;
        margin-top: -1px;

        .pages{
              @include all-childs;
              h3{
                font-size: 1rem;
                color: white;
              }
              .f-nav{
                
                ul{
                    @include flex-gap(1rem);
                    flex-direction: column;
                    
                    li{
                        list-style: none;
                        
                        a{  
                            font-size: 0.9rem;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
              }
       
         }
         .CMS{
            @include all-childs;

             h3{
                font-size: 1.1rem;
             }
             .allcms{
                 
                ul{
                    @include flex-gap(1rem);
                    flex-direction: column;

                    li{
                        list-style:none;
                    }
                }
             }

         }
         .utility{
             @include all-childs;
            h3{
                font-size: 1rem;
            }
            .utilities{
                ul{
                    @include flex-gap(1rem);
                    flex-direction: column;
                    li{
                        list-style: none;
                    }
                }
            }
         }
    }
    .end{
        grid-area: row3;
        height: 100%;
        width: 100%;
        background-color: var(--second-clr);
        margin-top: -1px;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        @include flex-gap(1rem);
        flex-direction: column;
        color: var(--body-clr);
        padding: var(--main-padding);
        
        h3{
            font-size: 1.2rem;
            margin-top:1rem; 
            
        }
        .contacts{
            margin-top: 1rem;
            margin-bottom: 1rem;
            @include flex-gap(3rem);

            a{
                color: white;
                font-size: 1.2rem;
                text-decoration: none;
            }

        }
    }
    
}